Test save

In [1]:
from pyspark.sql import SQLContext, HiveContext
from py4j.java_gateway import java_import

#    .config('hive.server2.transport.mode',"http")\
#    .config("hive.server2.http.endpoint", "cliservice")\
#    .config('hive.server2.thrift.http.port', '10001') \

In [2]:
spark = SparkSession \
    .builder \
    .appName('restlogs_qlik') \
    .enableHiveSupport()\
    .config('spark.sql.hive.thriftServer.singleSession', True)\
    .config('hive.server2.authentication','NONE')\
    .config('hive.server2.thrift.port', '10001') \
    .getOrCreate()

In [3]:
sc=spark.sparkContext
sc.setLogLevel('INFO')

In [4]:
#Order matters! 
java_import(sc._gateway.jvm, "")
sc._gateway.jvm.org.apache.spark.sql.hive.thriftserver.HiveThriftServer2.startWithContext(spark._jwrapped)

JavaObject id=o42

In [5]:
dataframe_mysql = spark.read.format("jdbc").option("url", "jdbc:mysql://relational.fit.cvut.cz/imdb_ijs").option("driver", "com.mysql.jdbc.Driver").option("dbtable", "actors").option("user", "guest").option("password", "relational").load()

In [7]:
dataframe_mysql.show()

+---+------------+--------------------+------+
| id|  first_name|           last_name|gender|
+---+------------+--------------------+------+
|  2|     Michael|  'babeepower' Viera|     M|
|  3|        Eloy|         'Chincheta'|     M|
|  4|    Dieguito|         'El Cigala'|     M|
|  5|     Antonio|    'El de Chipiona'|     M|
|  6|        José|        'El Francés'|     M|
|  7|       Félix|           'El Gato'|     M|
|  8|     Marcial|        'El Jalisco'|     M|
|  9|        José|         'El Morito'|     M|
| 10|   Francisco|'El Niño de la Ma...|     M|
| 11|      Víctor|         'El Payaso'|     M|
| 12|     Antonio|       'El Pescaíto'|     M|
| 13|        Luis|          'El Plojo'|     M|
| 14|       Janny|      'el Portugues'|     M|
| 15|     Antonio|         'El Rilete'|     M|
| 16|    Baltazar|           'El Toro'|     M|
| 17|Luis Roberto|           'Formiga'|     M|
| 18|  Murray the|                 'K'|     M|
| 19|      Néstor|        'Kick Boxer'|     M|
| 20|        Tony|         'La Chispa'|     M|
| 21|     Pollino|            'Romero'|     M|
+---+------------+--------------------+------+
only showing top 20 rows

In [ ]:
my_df = d

In [8]:
dataframe_mysql.createOrReplaceTempView("Test2")

In [7]:
df_movies = spark.read.format("jdbc").option("url", "jdbc:mysql://relational.fit.cvut.cz/imdb_ijs").option("driver", "com.mysql.jdbc.Driver").option("dbtable", "movies").option("user", "guest").option("password", "relational").load()

In [8]:
df_movies.createOrReplaceTempView("Butt")