In [8]:
testuri = 'https://imdb.hriks.com/person/?format=json'

In [12]:
inputDf = spark.read.option('header', 'true').csv('./testinp.csv')

In [13]:
inputDf.createOrReplaceTempView('testinptbl')

In [14]:
spark.sql("select * from testinptbl").show()

+------+-----+------+
|format|limit|offset|
+------+-----+------+
|  json|   50|   100|
+------+-----+------+

In [15]:
prmstest = { 'url' : testuri, 'input': "testinptbl", 'method' : 'GET', 'readTimeout' : '10000', 'connectionTimeout' : '2000', 'partitions' : '10'}

In [16]:
testDF = spark.read.format("org.apache.dsext.spark.datasource.rest.RestDataSource").options(**prmstest).load()

In [17]:
testDF.printSchema()

root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- output: struct (nullable = true)
 |    |-- count: long (nullable = true)
 |    |-- next: string (nullable = true)
 |    |-- previous: string (nullable = true)
 |    |-- results: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- categories: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- country: string (nullable = true)
 |    |    |    |-- full_name: string (nullable = true)
 |    |    |    |-- id: long (nullable = true)

In [18]:
testDF.schema.fields

[StructField(format,StringType,true),
 StructField(limit,StringType,true),
 StructField(offset,StringType,true),
 StructField(output,StructType(List(StructField(count,LongType,true),StructField(next,StringType,true),StructField(previous,StringType,true),StructField(results,ArrayType(StructType(List(StructField(categories,ArrayType(StringType,true),true),StructField(country,StringType,true),StructField(full_name,StringType,true),StructField(id,LongType,true))),true),true))),true)]

In [21]:
testDF.createOrReplaceTempView("imdbpers")

In [22]:
spark.sql("select * from imdbpers").show()

+------+-----+------+--------------------+
|format|limit|offset|              output|
+------+-----+------+--------------------+
|  json|   50|   100|[10265, http://im...|
+------+-----+------+--------------------+

In [23]:
spark.sql("select output.count from imdbpers").show()

+-----+
|count|
+-----+
|10265|
+-----+

In [24]:
spark.sql("select output.results from imdbpers").show()

+--------------------+
|             results|
+--------------------+
|[[[actor], USA, M...|
+--------------------+

In [25]:
spark.sql("select output.results.full_name from imdbpers").show()

+--------------------+
|           full_name|
+--------------------+
|[Mila Kunis, Tim ...|
+--------------------+

In [45]:
-

In [46]:
flatDF = flatten(testDF, True)

{'output': StructType(List(StructField(count,LongType,true),StructField(next,StringType,true),StructField(previous,StringType,true),StructField(results,ArrayType(StructType(List(StructField(categories,ArrayType(StringType,true),true),StructField(country,StringType,true),StructField(full_name,StringType,true),StructField(id,LongType,true))),true),true)))}
1
output_
output
[Column<b'output.count AS `output_count`'>, Column<b'output.next AS `output_next`'>, Column<b'output.previous AS `output_previous`'>, Column<b'output.results AS `output_results`'>]
root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- output_count: long (nullable = true)
 |-- output_next: string (nullable = true)
 |-- output_previous: string (nullable = true)
 |-- output_results: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- categories: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- full_name: string (nullable = true)
 |    |    |-- id: long (nullable = true)

output_results
root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- output_count: long (nullable = true)
 |-- output_next: string (nullable = true)
 |-- output_previous: string (nullable = true)
 |-- output_results: struct (nullable = true)
 |    |-- categories: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- country: string (nullable = true)
 |    |-- full_name: string (nullable = true)
 |    |-- id: long (nullable = true)

output_results
[Column<b'output_results.categories AS `output_results_categories`'>, Column<b'output_results.country AS `output_results_country`'>, Column<b'output_results.full_name AS `output_results_full_name`'>, Column<b'output_results.id AS `output_results_id`'>]
root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- output_count: long (nullable = true)
 |-- output_next: string (nullable = true)
 |-- output_previous: string (nullable = true)
 |-- output_results_categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- output_results_country: string (nullable = true)
 |-- output_results_full_name: string (nullable = true)
 |-- output_results_id: long (nullable = true)

output_results_categories
root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- output_count: long (nullable = true)
 |-- output_next: string (nullable = true)
 |-- output_previous: string (nullable = true)
 |-- output_results_categories: string (nullable = true)
 |-- output_results_country: string (nullable = true)
 |-- output_results_full_name: string (nullable = true)
 |-- output_results_id: long (nullable = true)

In [28]:
flatDF.printSchema()

root
 |-- format: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- offset: string (nullable = true)
 |-- count: long (nullable = true)
 |-- next: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- results_categories: string (nullable = true)
 |-- results_country: string (nullable = true)
 |-- results_full_name: string (nullable = true)
 |-- results_id: long (nullable = true)

In [29]:
flatDF.createOrReplaceTempView("flatTbl")

In [35]:
spark.sql("select * from flatTbl").show(10)

+------+-----+--------------------+--------+------------------+---------------+-----------------+----------+
|format|count|                next|previous|results_categories|results_country|results_full_name|results_id|
+------+-----+--------------------+--------+------------------+---------------+-----------------+----------+
|  json|10265|http://imdb.hriks...|    null|             actor|           null| Amit Kumar Gupta|         1|
|  json|10265|http://imdb.hriks...|    null|           romance|            IND|    hritik Roshan|         2|
|  json|10265|http://imdb.hriks...|    null|            horror|            IND|    hritik Roshan|         2|
|  json|10265|http://imdb.hriks...|    null|             actor|           null|      Robert D jr|         3|
|  json|10265|http://imdb.hriks...|    null|           romance|            IND|    hritik Roshan|         4|
|  json|10265|http://imdb.hriks...|    null|            horror|            IND|    hritik Roshan|         4|
|  json|10265|http://imdb.hriks...|    null|             actor|            USA| Joel David Moore|         5|
|  json|10265|http://imdb.hriks...|    null|             actor|            USA|      CCH Pounder|         6|
|  json|10265|http://imdb.hriks...|    null|             actor|            USA|        Wes Studi|         7|
|  json|10265|http://imdb.hriks...|    null|           romance|            IND|    hritik Roshan|         8|
+------+-----+--------------------+--------+------------------+---------------+-----------------+----------+
only showing top 10 rows

In [36]:
date_info = {'year': "2020", 'month': "01", 'day': "01"}

In [39]:
def myfunc(year, month, day):
    print(year, month,day)

In [40]:
myfunc(**date_info)

2020 01 01

In [41]:
run = spark.read.format("org.apache.dsext.spark.datasource.rest.RestDataSource")

In [42]:
type(run)

pyspark.sql.readwriter.DataFrameReader

NameError: name 'DataFrameReader' is not defined